[Desktop Entry]
Name=Weather Widget 2
Comment=Plasmoid showing weather information from met.no server
Icon=weather-clouds
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kate Buckley
X-KDE-PluginInfo-Email=kate.buckley@gmail.com
X-KDE-PluginInfo-Name=org.kde.weatherWidget-2
X-KDE-PluginInfo-Version=2.3.4.2
X-KDE-PluginInfo-Website=https://github.com/blackadderkate/weather-widget-2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-RemoteLocation=

Name[de]=Weather Widget 2
Name[nb]=Weather Widget 2
Name[nl]=Weerwidget 2
Name[pl]=Weather Widget 2
Name[ru]=Виджет погоды 2
Name[sv]=Weather Widget 2
Name[zh_CN]=天气小组件 2
Comment[ca_ES]=Plasmoid que mostra informació del temps del servidor de met.no
Comment[de]=Plasmoid zeigt Wetterinformationen des met.no-Servers
Comment[nb]=Plasmoid som viser værinformasjon fra met.no
Comment[nl]=Een plasmoid die weerinformatie toont van de met.no-server
Comment[pl]=Plasmoid pokazujący informacje o pogodzie z serwera met.no
Comment[ru]=Плазмоид, показывающий информацию о погоде с сервера met.no
Comment[sv]=Plasmoid som visar väderinformation från met.no
Comment[zh_CN]=显示来自 Met.no 服务器的天气信息的 Plasma 小组件
